
<header>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="topbar-left">
                        <ul>
                            <li>
                                <span><em class="fa fa-map-marker" aria-hidden="true"></em></span> California, TX 70240
                            </li>
                            <li>
                                <span><em class="fa fa-envelope" aria-hidden="true"></em></span>{{'Info@gmail.com'}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="topbar-right float-end">
                        <ul>
                            <li>
                                <a href="" title="facebook" class="text-decoration-none"><em class="fa fa-clock"
                                        aria-hidden="true"></em><span> Office Hours : 8:00 AM - 7:45 PM </span></a>
                            </li>
                            <li>
                                <a href="" title="facebook"><em class="fa fa-facebook-f" aria-hidden="true"></em></a>
                            </li>
                            <li>
                                <a href="" title="twitter"><em class="fa fa-twitter" aria-hidden="true"></em></a>
                            </li>
                            <li>
                                <a href="" title="twitter"><em class="fa fa-linkedin" aria-hidden="true"></em></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="header-section">
                    <nav class="navbar">
                        <div class="data-container">
                            <div class="logo-sec">
                                <img src="icons/assets/images/logo.svg" alt="logo" class="logo" title="Trip Finder" />
                            </div>

                            <div class="menu-row">
                                <div class="menu-box">
                                    <div id="mainmenu">
                                        <ul class="menu">
                                            <li><a href="#" class="active">Home</a></li>
                                            <li>
                                                <a href="#">Company</a>
                                                <ul class="submenu">
                                                    <li><a href="#">Company 1</a></li>
                                                    <li><a href="#">Company 2</a></li>
                                                    <li><a href="#">Company 3</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Services</a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="#">Services level 11</a>
                                                        <ul class="submenu">
                                                            <li><a href="#">Services level 21</a></li>
                                                            <li><a href="#">Services level 22</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Services level 12</a></li>
                                                    <li><a href="#">Services level 13</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Case studies</a></li>
                                            <li>
                                                <a href="#">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="#">Blog 1</a></li>
                                                    <li><a href="#">Blog 2</a></li>
                                                    <li><a href="#">Blog 3</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Contact</a></li>
                                            <li class="searchbox">
                                                <a href="" title="search"><em class="fa fa-search"
                                                        aria-hidden="true"></em></a>
                                                <div class="websiteSearch search-form-container">
                                                    <form action="" method="">
                                                        <label for="search" class="sitesearch d-none">Search</label>
                                                        <input type="search" placeholder="Search here..."
                                                            autocomplete="off" name="search" id="search" value="" />
                                                        <button class="accent-color accent-border-color" type="submit"
                                                            aria-label="Search" tabindex="0">
                                                            <em class="fa fa-search" aria-hidden="true"></em><span
                                                                class="hide d-none">Search</span>
                                                        </button>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="banner-section">
    <!-- <img src="icons/assets/images/banner.svg" alt="banner"> -->

    <div class="container">
        <div class="banner-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-text">
                        <h1>Powerful Digital IT Solutions Company</h1>
                        <p>Affixed Pretend account ten natural.Need eat week even yet that</p>
                        <a class="btn btn-custom white-btn">Find Out More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-img">
                        <img src="icons/assets/images/banner-img.png" alt="Banner Image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-section">
    <div class="container">
        <div class="services-inner">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="services-description">
                        <strong class="text-uppercase heading-colored">Our Services</strong>
                        <h2 class="heading-1 fw-bold pt-3 pb-4">Weprovides IT & Business solutions</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut
                            aliquip ex ea commodo consequat.
                        </p>

                        <a class="btn btn-custom dark-btn mb-3" href="#"> See More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services-box">
                        <span class="services-icon" aria-hidden="true"><img src="icons/assets/images/data security.PNG"
                                alt="Data security" /></span>
                        <h3 class="heading-4 fw-bold">Data Security</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut
                            aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services-box">
                        <span class="services-icon" aria-hidden="true"><img
                                src="icons/assets/images/it-management.jpg" /></span>
                        <h3 class="heading-4 fw-bold">IT Management</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut
                            aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services-box">
                        <span class="services-icon" aria-hidden="true"><img
                                src="icons/assets/images/analytic-solution.jpg" /></span>
                        <h3 class="heading-4 fw-bold">Analytic Solutions</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut
                            aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services-box">
                        <span class="services-icon" aria-hidden="true"><img src="icons/assets/images/firewall.jpg" /></span>
                        <h3 class="heading-4 fw-bold">Firewall Advance</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut
                            aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services-box">
                        <span class="services-icon" aria-hidden="true"><img src="icons/assets/images/infra-plan.jpg" /></span>
                        <h3 class="heading-4 fw-bold">Infrastructure Plan</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut
                            aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="work-process-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center web-headings">
                    <strong class="text-uppercase heading-white">Work Process</strong>
                    <h2 class="main-heading text-white position-relative">How we help your business grow</h2>
                    <div class="devider-line"></div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="steps-container">
                <div class="step first-step">
                    <div class="step-circle">
                        <i class="fas fa-server fa-2x"></i>
                        <div class="step-number">01</div>
                    </div>
                    <h3 class="step-title text-white">Choose a Service</h3>
                </div>

                <div class="arrow arrow1"><i class="fas fa-long-arrow-right"></i></div>

                <div class="step second-step">
                    <div class="step-circle">
                        <i class="fas fa-video fa-2x"></i>
                        <div class="step-number">02</div>
                    </div>
                    <h3 class="step-title text-white">Request a Meeting</h3>
                </div>

                <div class="arrow arrow2"><i class="fas fa-long-arrow-right"></i></div>

                <div class="step third-step">
                    <div class="step-circle">
                        <i class="fas fa-chart-line fa-2x"></i>
                        <div class="step-number">03</div>
                    </div>
                    <h3 class="step-title text-white">Let's Make it Happen</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="choose-us-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="web-headings">
                    <strong class="text-uppercase heading-colored">Why Choose Us</strong>
                    <h2 class="main-heading position-relative pt-2 pb-4">We promise high quality IT Services</h2>
                </div>
                <p class="pb-2 pt-2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere voluptate a quis est ullam impedit,
                    tempora eaque maxime, illum alias repudiandae enim aspernatur, error debitis laudantium, deleniti
                    aperiam rem
                    nihil.
                </p>

                <ul>
                    <li class="fw-bold">Experts around the world</li>
                    <li class="fw-bold">Best Practice for industry</li>
                </ul>
                <div class="contact-info">
                    <p>
                        Join our team – come work with us.
                    </p>
                    <h4 class="fw-bold">
                        <span class="info-number"><em class="fa fa-phone" aria-hidden="true"></em> </span> +123 456 7890
                    </h4>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-right">
                    <img src="icons/assets/images/choose-us.png" alt="Why Choose Us" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center web-headings">
                    <strong class="text-uppercase heading-colored">Team Members</strong>
                    <h2 class="main-heading position-relative">Meet our professional and expert team</h2>
                    <div class="devider-line2"></div>
                    <p class="pt-3 pb-5">Outlived no dwelling denoting in peculiar as he believed. Behaviour excellent
                        middleton be as it curiosity departure ourselves very extreme future.</p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="team-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="card">
                        <div class="imgBx">
                            <img src="icons/assets/images/team-member.jpg" alt="Team member" />
                        </div>
                        <div class="info-box">
                            <div class="info text-center">
                                <h3 class="heading-4 fw-bold">Adham Jones</h3>
                                <span>President &amp; CEO</span>
                            </div>
                        </div>

                        <div class="content">
                            <div class="contentBx">
                                <h3>
                                    Adham Jones <br />
                                    <span>Web Developer</span>
                                </h3>
                            </div>
                            <ul class="sci">
                                <li>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="imgBx">
                            <img src="icons/assets/images/team-member.jpg" alt="Team member" />
                        </div>
                        <div class="info-box">
                            <div class="info text-center">
                                <h3 class="heading-4 fw-bold">Adham Jones</h3>
                                <span>President &amp; CEO</span>
                            </div>
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>
                                    Adham Jones <br />
                                    <span>Web Developer</span>
                                </h3>
                            </div>
                            <ul class="sci">
                                <li>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="imgBx">
                            <img src="icons/assets/images/team-member.jpg" alt="Team member" />
                        </div>
                        <div class="info-box">
                            <div class="info text-center">
                                <h3 class="heading-4 fw-bold">Adham Jones</h3>
                                <span>President &amp; CEO</span>
                            </div>
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>
                                    Adham Jones <br />
                                    <span>Web Developer</span>
                                </h3>
                            </div>
                            <ul class="sci">
                                <li>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="imgBx">
                            <img src="icons/assets/images/team-member.jpg" alt="Team member" />
                        </div>
                        <div class="info-box">
                            <div class="info text-center">
                                <h3 class="heading-4 fw-bold">Adham Jones</h3>
                                <span>President &amp; CEO</span>
                            </div>
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>
                                    Adham Jones <br />
                                    <span>Web Developer</span>
                                </h3>
                            </div>
                            <ul class="sci">
                                <li>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="imgBx">
                            <img src="icons/assets/images/team-member.jpg" alt="Team member" />
                        </div>
                        <div class="info-box">
                            <div class="info text-center">
                                <h3 class="heading-4 fw-bold">Adham Jones</h3>
                                <span>President &amp; CEO</span>
                            </div>
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>
                                    Adham Jones <br />
                                    <span>Web Developer</span>
                                </h3>
                            </div>
                            <ul class="sci">
                                <li>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="imgBx">
                            <img src="icons/assets/images/team-member.jpg" alt="Team member" />
                        </div>
                        <div class="info-box">
                            <div class="info text-center">
                                <h3 class="heading-4 fw-bold">Adham Jones</h3>
                                <span>President &amp; CEO</span>
                            </div>
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>
                                    Adham Jones <br />
                                    <span>Web Developer</span>
                                </h3>
                            </div>
                            <ul class="sci">
                                <li>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="imgBx">
                            <img src="icons/assets/images/team-member.jpg" alt="Team member" />
                        </div>
                        <div class="info-box">
                            <div class="info text-center">
                                <h3 class="heading-4 fw-bold">Adham Jones</h3>
                                <span>President &amp; CEO</span>
                            </div>
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>
                                    Adham Jones <br />
                                    <span>Web Developer</span>
                                </h3>
                            </div>
                            <ul class="sci">
                                <li>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq-section">
    <div class="container">
        <div class="row faq-row">
            <div class="col-lg-6">
                <div class="faq-left">
                    <img src="icons/assets/images/faq.png" alt="faq" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-right">
                    <div class="services-description">
                        <strong class="text-uppercase heading-colored">faq</strong>
                        <h2 class="heading-1 fw-bold pt-3 pb-4">Most common question & answer</h2>
                    </div>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item rounded-3 border-0">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-bold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true"
                                    aria-controls="flush-collapseOne">
                                    Lorem ipsum dolor sit amet Accordion #1
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item rounded-3 border-0">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-bold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Lorem ipsum dolor sit amet Accordion #2
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item rounded-3 border-0">
                            <h2 class="accordion-header">
                                <button class="accordion-button border-bottom collapsed fw-bold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                    aria-expanded="false" aria-controls="flush-collapseThree">
                                    Lorem ipsum dolor sit amet Accordion #3
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news-and-event-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center web-headings">
                    <strong class="text-uppercase heading-colored">Our Blog</strong>
                    <h2 class="main-heading position-relative">Latest News & Articles Directly from Blog</h2>
                    <div class="devider-line2"></div>
                    <p class="pt-3 pb-5">Outlived no dwelling denoting in peculiar as he believed. Behaviour excellent
                        middleton be as it curiosity departure ourselves very extreme future.</p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="events-outer">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="event-images">
                                <img src="icons/assets/images/event-1.svg" alt="event" />
                            </div>
                            <div class="event-date">
                                <strong>12</strong>
                                <span>Jan,2021</span>
                            </div>
                            <div class="event-contents">
                                <ul>
                                    <li>
                                        <a class="event-cont-img"><em class="fa fa-user"></em><span>
                                                Mark,John</span></a>
                                    </li>
                                    <li>
                                        <a class="event-cont-img"><em class="fa fa-comment"></em><span> 15
                                                Comments</span></a>
                                    </li>
                                </ul>
                                <h3 class="fw-bold heading-4 pb-3">Egestas dignissim a enim lorem a mus egestas risus
                                    porta? Sed. Scelerisque</h3>

                                <a class="readmore-btn pt-3 pb-3" href="#">Read More <em
                                        class="fa fa-long-arrow-right"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="event-images">
                                <img src="icons/assets/images/event-2.svg" alt="event" />
                            </div>
                            <div class="event-date">
                                <strong>12</strong>
                                <span>Jan,2021</span>
                            </div>
                            <div class="event-contents">
                                <ul>
                                    <li>
                                        <a class="event-cont-img"><em class="fa fa-user"></em><span>
                                                Mark,John</span></a>
                                    </li>
                                    <li>
                                        <a class="event-cont-img"><em class="fa fa-comment"></em><span> 15
                                                Comments</span></a>
                                    </li>
                                </ul>
                                <h3 class="fw-bold heading-4 pb-3">Egestas dignissim a enim lorem a mus egestas risus
                                    porta? Sed. Scelerisque</h3>

                                <a class="readmore-btn pt-3 pb-3" href="#">Read More <em
                                        class="fa fa-long-arrow-right"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="event-images">
                                <img src="icons/assets/images/event-3.svg" alt="event" />
                            </div>
                            <div class="event-date">
                                <strong>12</strong>
                                <span>Jan,2021</span>
                            </div>
                            <div class="event-contents">
                                <ul>
                                    <li>
                                        <a class="event-cont-img"><em class="fa fa-user"></em><span>
                                                Mark,John</span></a>
                                    </li>
                                    <li>
                                        <a class="event-cont-img"><em class="fa fa-comment"></em><span> 15
                                                Comments</span></a>
                                    </li>
                                </ul>
                                <h3 class="fw-bold heading-4 pb-3">Egestas dignissim a enim lorem a mus egestas risus
                                    porta? Sed. Scelerisque</h3>

                                <a class="readmore-btn pt-3 pb-3" href="#">Read More <em
                                        class="fa fa-long-arrow-right"></em></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer-bg">
        <img src="icons/assets/images/footer-bg.png" alt="Shape" />
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-content">
                <div class="row align-center">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Membership</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <form action="#">
                            <input type="email" placeholder="Your Email" class="form-control" name="email" />
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footor-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widgets">
                        <div class="footer-logo">
                            <img src="icons/assets/images/logo.svg" alt="website logo" />
                        </div>
                        <div class="footer-widgets-conts">
                            <p>Happen active county. Winding for the morning am shyness evident to poor. Garrets because
                                elderly new.</p>
                            <ul>
                                <li>
                                    <a href="" title=""><em class="fa fa-facebook" aria-hidden="true"></em></a>
                                </li>
                                <li>
                                    <a href="" title=""><em class="fa fa-twitter" aria-hidden="true"></em></a>
                                </li>
                                <li>
                                    <a href="" title=""><em class="fa fa-linkedin-in" aria-hidden="true"></em></a>
                                </li>
                                <li>
                                    <a href="" title=""><em class="fa fa-instagram" aria-hidden="true"></em></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widgets">
                        <strong class="footer-headng">Company</strong>
                        <div class="footer-widgets-links">
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Meet Our Team</a>
                                </li>
                                <li>
                                    <a href="#">News &amp; Media</a>
                                </li>
                                <li>
                                    <a href="#">Case Studies</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Investors</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widgets">
                        <strong class="footer-headng">Solutions</strong>
                        <div class="footer-widgets-links">
                            <ul>
                                <li>
                                    <a href="#">IT Management</a>
                                </li>
                                <li>
                                    <a href="#">Cyber Security</a>
                                </li>
                                <li>
                                    <a href="#">Cloud Computing</a>
                                </li>
                                <li>
                                    <a href="#">IT Consulting</a>
                                </li>
                                <li>
                                    <a href="#">Software Dev</a>
                                </li>
                                <li>
                                    <a href="#">Backup &amp; Recovery</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widgets footer-widgets-links">
                        <strong class="footer-headng">Get In Touch</strong>
                        <div class="address pb-3">
                            <ul>
                                <li>
                                    <strong>Address:</strong>
                                    5919 Trussville Crossings Pkwy, Birmingham AL 35235
                                </li>
                                <li>
                                    <strong>Email:</strong>
                                    <a href="mailto:info@validtheme.com">{{'info@validtheme.com'}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="download pt-2">
                            <strong clas="heading-2 fw-bold">Download</strong>
                            <a href="#"><em class="fa fa-apple" aria-hidden="true"></em> App Store</a>
                            <a href="#"><em class="fa fa-google-play" aria-hidden="true"></em> Google Play</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copy-rights text-center">
                        <p>Copyright © 2025. Designed by <a href="#">ValidThemes.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>